<figure class="snip1492-details">
    <figcaption class="details">
        <h3>{{title}}</h3><br/>
        <p>Brand: {{brand}}</p>
        <p>Model: {{model}}</p>
        <p>City: {{city}}</p>
        <p>Mileage: {{mileage}}</p>
        <div class="price">
            {{price}} BGN
        </div>
        <br/>
        <img class="details-image" src="{{images}}" width="350">
        <p>{{description}}</p>
        <p>Owner: {{author}}</p>
        <p>Published: {{publishedDate}} ago</p>
    </figcaption>
    {{#if isAuthor}}
        <button type="button" class="btn btn-secondary"><a href="#/edit/:{{id}}">Edit</a></button>
        <button type="button" class="btn btn-secondary"><a href="#/delete/:{{id}}">Delete</a></button>
    {{#if vip}}
        <span class="btn btn-sm btn-warning">
            <i class="glyphicon glyphicon-vip"></i> Your ads is Vip
        </span>
    {{else}}
        <a href="#/makeVip/{{id}}" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-vip"></i> Make VIP
        </a>
    {{/if}}
    {{else if loggedUsername}}
        <a href="#/message/send/{{author}}" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-envelope"></i> Send Message
        </a>
    {{/if}}
</figure>
{{>comments}}
<div class="message_write">
    {{> form}}
</div>