<figure class="snip1492">
    <img src="{{image}}"/>
    <figcaption>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div class="price">
            {{price}} BGN
        </div>
    </figcaption>
    <a href="#/ad/details/{{_id}}"></a>
</figure>