{{#each data}}
    <tr class="{{isOpen}}">
        <td class="inbox-small-cells"><i class="glyphicon glyphicon-envelope"></i>
            <a href="#/user/message/{{_id}}" class="view-message">Read</a>
        </td>
        <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
        <td class="view-message  dont-show">{{username}}</td>
        <td class="inbox-small-cells">
        </td>
        <td class="view-message ">{{title}}</td>
        <td class="view-message  text-right">Received {{time}} ago</td>
        <td class="inbox-small-cells"></td>
    </tr>
{{/each}}