<div class="new_message_head">
    <div class="pull-left">
        <i class="fa fa-plus-square-o"></i>Title: {{data.title}}
    </div>
    <div class="pull-right">
        <div class="dropdown"></div>
    </div>
</div>
<div class="chat_area">
    <ul class="list-unstyled">
        <li class="left clearfix">
            <div class="chat-body1 clearfix">
                <p align="{{data.style}}">{{data.text}}</p>
                <div class="chat_time pull-{{data.style}}">{{data.time}} ago by <a
                        href="#/user/details/{{data.sender}}">{{data.sender}}</a></div>
            </div>
        </li>
        {{#each answer}}
            <li class="left clearfix">
                <div class="chat-body1 clearfix">
                    <p align="{{style}}">  {{text}}</p>
                    <div class="chat_time pull-{{style}}">{{time}} ago by <a
                            href="#/user/details/{{sender}}">{{sender}}</a></div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
<div class="message_write">
    {{> form}}
</div>