<div class="panel panel-info">
    <figure class="snip1492-details">
        <figcaption class="details">
            {{#if vipAd}}
                <div class="top">
                    <span class="converse">{{vipAd.brand}} {{vipAd.model}}</span>
                </div>
                <div class="middle">
                    <img src="{{vipAd.images}}" alt="{{vipAd.title}}"/>
                </div>
                <div class="bottom">
                    <div class="price">{{vipAd.price}} BGN</div>
                    <a href="#/ads/details/{{vipAd._id}}" class="btn btn-md btn-primary"> Click for details</a>
                </div>
            {{/if}}
        </figcaption>
    </figure>
</div>