{{#if vipAds}}
    {{#each vipAds}}
<div class="block">
    <div class="top">
        <ul>
            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
            <li><span class="converse">{{brand}}</span></li>
            <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </a></li>
        </ul>
    </div>

    <div class="middle">
        <img src="{{images}}" alt="{{title}}" />
    </div>

    <div class="bottom">
        <div class="heading">{{title}}</div>
        <div class="info">{{description}}</div>
        <div class="style">City {{city}}</div>
        <div class="price">Price {{price}} BGN</div>
    </div>
</div>
{{/each}}
{{/if}}