<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><b>{{data.username}}</b>`s profile</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
                <img alt="User Pic" src="{{data.avatar}}" class="img-circle img-responsive">
            </div>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{data.username}}</td>
                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>{{data.points}}</td>
                    </tr>
                    {{#if data.email}}
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:info@support.com">{{data.email}}</a></td>
                        </tr>
                    {{/if}}
                    {{#if data.fName}}
                        <tr>
                            <td>First Name</td>
                            <td>{{data.fName}}</td>
                        </tr>
                    {{/if}}
                    {{#if data.lName}}
                        <tr>
                            <td>Last Name</td>
                            <td>{{data.lName}}</td>
                        </tr>
                    {{/if}}
                    {{#if data.phone}}
                        <tr>
                            <td>Phone Number</td>
                            <td>{{data.phone}}</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        {{#if isOwner}}
            <a href="#/user/messages" stype="button" class="btn btn-sm btn-primary"><i
                    class="glyphicon glyphicon-envelope"></i> Messages</a>
            <span class="pull-right">
                <a href="#/user/edit/{{data.username}}" type="button" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-edit"></i> Edit profile
                </a>
            </span>
        {{else if userRole}}
            <span class="pull-right">
                <a href="#/user/edit/{{data.username}}" type="button" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-edit"></i> Edit profile
                </a>
            </span>
            <a href="#/message/send/{{data.username}}" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-envelope"></i> Send Message
            </a>
            {{#if data.isBlocked}}
                <a href="#/user/unban/{{data.username}}" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-remove"></i> Unban User
                </a>
            {{else}}
                <a href="#/user/ban/{{data.username}}" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> Ban User
                </a>
            {{/if}}
        {{else if loggedUsername}}
            <a href="#/message/send/{{data.username}}" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-envelope"></i> Send Message
            </a>
        {{/if}}
        <a href="#/user/ads/{{data.username}}" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-th-large"></i> User Ads
        </a>
    </div>
</div>