<form class="form-horizontal" method="post" action="#/ads/comments/edit/{{adId}}/{{commentId}}">
    <fieldset>
        <legend>Edit Comment</legend>
        <div class="form-group">
            <label class="col-sm-4 control-label">Content</label>
            <div class="col-sm-4 ">
                <input class="form-control" id="content" value="{{content}}" name="content">
            </div>
        </div>
        <input class="form-control" id="author" value="{{author}}" name="author" style="display: none">
        <input class="form-control" id="avatar" value="{{avatar}}" name="avatar" style="display: none">
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="#/ads/details/{{adId}}">Cancel</a>
                <button class="btn btn-success">Edit</button>
            </div>
        </div>
    </fieldset>
</form>