{{#each comments}}
    <div class="chat_area">
        <ul class="list-unstyled">
            <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <a href="#/user/details/{{author}}"><img
                             src="{{avatar}}"
                             alt="{{author}} Avatar" class="img-circle"></a>
                     </span>
                <div class="chat-body1 clearfix">
                    <p align="left">{{content}}</p>
                </div>
                {{#if isOwner}}
                    <form method="post" action="#/ads/comments/delete/{{ad_id}}">
                        <input type="hidden" name="commentId" value="{{_id}}">
                        <input type='submit' class="pull-right btn btn-danger" value="Delete">
                    </form>
                    <form method="get" action="#/ads/comments/edit/{{_id}}">
                        <input type='submit' class="pull-right btn btn-warning" value="Edit">
                    </form>
                {{/if}}
            </li>
        </ul>
    </div>
{{/each}}