{{#each comments}}
    <div class="chat_area">
        <ul class="list-unstyled">
            <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <a href="#/user/details/{{author}}"><img
                             src="{{avatar}}"
                             alt="{{author}} Avatar" class="img-circle"></a>
                     </span>
                <div class="chat-body1 clearfix">
                    <p align="left"> {{content}}
                        {{#if isOwner}}
                            <span class="pull-right action-buttons">
                    <a href="#/ads/comments/edit/{{ad_id}}/{{_id}}" ><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#/ads/comments/delete/{{ad_id}}/{{_id}}" class="trash"><span class="glyphicon glyphicon-trash"></span></a>

                    </span>
                        {{/if}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
{{/each}}