<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><b>{{loggedUsername}}</b>`s profile</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="{{data.avatar}}"
                                                                class="img-circle img-responsive"></div>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{data.username}}</td>
                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>{{data.points}}</td>
                    </tr>
                    <tr>
                    {{#if data.email}}
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:info@support.com">{{data.email}}</a></td>
                        </tr>
                    {{/if}}
                    {{#if data.fName}}
                        <td>First Name</td>
                        <td>{{data.fName}}</td>
                        </tr>
                    {{/if}}
                    {{#if data.lName}}
                        <td>Last Name</td>
                        <td>{{data.lName}}</td>
                        </tr>
                    {{/if}}
                    {{#if data.phone}}
                        <td>Phone Number</td>
                        <td>{{data.phone}}</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
                <a href="#" class="btn btn-primary">My Sales Performance</a>
                <a href="#" class="btn btn-primary">Team Sales Performance</a>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"
           class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i> Messages</a>
        {{#if isOwner}}
            <span class="pull-right">
                            <a href="#/user/edit/{{loggedUsername}}" data-original-title="Edit this user"
                               data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i
                                    class="glyphicon glyphicon-edit"></i> Edit profile</a>
                        </span>
        {{/if}}
    </div>
</div>